/* hero section */
.hero-section {
    background-image: url(resources/hero_image.jpg);
    height:380px;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    width:95%;
    margin-bottom: 25px;
    
    
}

.hero-msg a {
    text-decoration:none;
    color:teal;
  
}