/* hero section */
.hero-section {
    background-image: url(resources/hero_image.jpg);
    height:380px;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    width:95%;
    margin-bottom: 25px;
    
    
}

.hero-msg a {
    text-decoration:none;
    color:teal;
  
}

/* shop section */
 .box{
    height:360px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
 }

 .shop-section {
    display:flex;
    justify-content: space-evenly;
    background-image:  linear-gradient(#acc2c2, white);
    padding-top:15px;
    flex-wrap:wrap;
   
 }

 /* box section*/
  .box-content .box-img {
    height:260px;
    width:250px;
    margin: 1rem auto 0;
  }

 .box-content .box-img img {
    height:100%;
    width:100%;
  }

  .box-content .box-footer {
    color:#007185;
    font-size:0.8rem;
    margin: 0.8rem 1.7rem;
  }

  .shop-section .box .box-content h2{
    margin-left:1rem;
    font-size:1.2rem;
  }