* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
}

.logo{
    background-image: url("resources/amazon_logo.png");
    height:50px;
    width:100%;
    background-size: cover;
}

.nav-logo {
    height:50px;
    width: 100px;
}

