* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    /* height:50px; */
    width: 120px;
    
}
.logo{
    background-image: url("resources/amazon_logo.png");
    height:50px;
    width:100%;
    background-size: cover;
    
}

.border {
    border: 1.5px solid transparent;
   
}

.border:hover {
    border: 1.5px solid white;
}

/* box 2 in nav */
.add-first {
    color: #ccc;
    font-size: 0.75rem;
}

.add-second {
    font-size: 1rem;
    font-weight:650;
}

.nav-add {
    display: flex;
    align-items: center;
    padding: 8px 9px 8px 9px;
    margin-left:3px;
}

.nav-add .address-icon i {
    margin-top:12px;
   
}

.nav-add .address-part {
    margin-left: 3px;
}

/* Search Box on Navbar */
.nav-search {
    display:flex;
    align-items: center;
    width: 720px;
    height:40px;
    border-radius: 4px;
   
}

.search-input, .search-select {
    height: 40px;
    
}

.search-select {
    width:51.6px;
    background-color: #e6e6e6;
    border-radius: 4px 0px 0px 4px;
    align-items:center;
    border:none;
    padding:0 10px 0 5px;
   

}

.search-icon{
    width: 65px;
    background-color: #febd69;
    height:40px;
    color:black;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 0 4px 4px 0;
}

.search-input {
    width:795px;
    border:none;
    font-size: 0.9rem;
    font-weight:500;
    padding-left:8px;
}

/*language selection */



#language-dropdown {
    background-color: #0F1111;
    color:  #e6e6e6;
    border:none;
    font-weight: 800;
    width:50px;
}








